:root {
  /* COLOR */
  --clr-blue-100: 210 46% 95%;
  --clr-blue-300: 212 23% 69%;
  --clr-blue-400: 214 17% 51%;
  --clr-blue-600: 217 19% 35%;
  --clr-white: 0 0% 100%;

  /* FONT FAMILY */
  --ff-manrope: "Manrope", sans-serif;

  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

button {
  font: inherit;
  padding: 0;
  background: none;
  color: inherit;
  display: block;
  border: none;
  outline: transparent;
  cursor: pointer;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BODY */

body {
  font: var(--fw-medium) 0.8125rem/1.5 var(--ff-manrope);
  letter-spacing: 0.1px;
  background: hsl(var(--clr-blue-100));
  color: hsl(var(--clr-blue-400));
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */

.card {
  max-width: 45.625rem;
  background: hsl(var(--clr-white));
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.card__img {
  max-height: 12.5rem;
  overflow: hidden;
}

.card__img img {
  object-fit: cover;
  object-position: 0 -1.1rem;
}

.card__content {
  padding: 2.25rem 2rem 1.25rem;
}

.card__title {
  font-size: 1rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.0125rem;
  color: hsl(var(--clr-blue-600));
}

.card__desc {
  margin-block: 0.75rem 2rem;
  padding-right: 1px;
}

.card__author {
  display: flex;
  gap: 1rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
}

.card__meta-data {
  flex: 1;
}

.card__author-name {
  font-weight: var(--fw-bold);
  letter-spacing: 0.0125rem;
  color: hsl(var(--clr-blue-600));
}

.card__date {
  letter-spacing: 0.0125rem;
  color: hsl(var(--clr-blue-300));
}

.share-btn,
.popup-menu__share-btn {
  width: 2rem;
  height: 2rem;
  padding: 0.5625rem 0.5rem 0.625rem 0.5625rem;
  border-radius: 100%;
  transition-duration: 200ms;
}

.share-btn {
  background: hsl(var(--clr-blue-100));
}

.share-btn:is(:hover, :focus-visible) {
  background: hsl(var(--clr-blue-600));
}

.share-btn:is(:hover, :focus-visible) img {
  filter: brightness(0) saturate(100%) invert(94%) sepia(1%) saturate(2911%)
    hue-rotate(190deg) brightness(104%) contrast(95%);
}

.popup-menu {
  background: hsl(var(--clr-blue-600));
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1.3125rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-menu__title {
  font-size: 0.8125rem;
  font-weight: var(--fw-medium);
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  color: hsl(var(--clr-blue-300));
}

.socials-list {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials-link img {
  transition: 200ms;
}

.socials-link:is(:hover, :focus-visible) img {
  scale: 1.1;
}

.popup-menu__share-btn {
  background: hsl(var(--clr-blue-400));
}

.popup-menu__share-btn img {
  filter: brightness(0) saturate(100%) invert(94%) sepia(1%) saturate(2911%)
    hue-rotate(190deg) brightness(104%) contrast(95%);
}

.popup-menu__share-btn:is(:hover, :focus-visible) {
  background: hsl(var(--clr-blue-100));
}

.popup-menu__share-btn:is(:hover, :focus-visible) img {
  filter: unset;
}
