:root {
  /* COLOR */
  --clr-blue-100: 210 46% 95%;
  --clr-blue-300: 212 23% 69%;
  --clr-blue-400: 214 17% 51%;
  --clr-blue-600: 217 19% 35%;
  --clr-white: 0 0% 100%;

  /* FONT FAMILY */
  --ff-manrope: "Manrope", sans-serif;

  /* FONT WEIGHT */
  --fw-medium: 500;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

/* BODY */

body {
  font: var(--fw-medium) 0.8125rem/1.5 var(--ff-manrope);
  letter-spacing: 0.1px;
  background: hsl(var(--clr-blue-100));
  color: hsl(var(--clr-blue-400));
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
